/* reset */
*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: 400;}
a{text-decoration: none;color: inherit;}
ul,ol{list-style: none;}


/* common */
html{font-family: 'Noto Sans KR', sans-serif;font-size: 14px;}

.blankStyle::after{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    /* border: 1px solid red!important; */
    margin-left: 4px;
    background: url(../pearlabyss/img/icn_header_new_win.svg) no-repeat 50% 50%;
}



