@media (max-width:768px){
     /* layout */

.container{}
.pc{display: none;}
header.mo{
    /* border: 1px solid red; */
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 54px;
    z-index: 1000;
}
.innerHeader{
    width: 88%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid lime; */
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.btnMoMenu{
    /* border: 1px solid red; */
    width: 6.4vw;
    height: 6.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.btnMoMenu>span{
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 3px 0;
}
.btnMenuLag{
    /* border: 1px solid red; */
    width: 6.4vw;
    height: 6.4vw;
}
.btnMenuLag img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.moLogo{
    width: 31.47vw;
    max-width: 230px;
    /* 정해진 크기까지만 크게 설정 */
}
.moLogo a img{
    width: 100%;
}

/* mobile menu */
.moMenu{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    z-index: 1100;
    pointer-events: none;
}
.blackCover{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    position: absolute;
    left: 0; top: 0;
    transition: all 0.5s ease 0s;
    pointer-events: none;
}
.moMenu.show .blackCover{
    opacity: 0.8;
    pointer-events: auto;
}
.moGnb{
    background: #fff;
    position: absolute;
    left: 0;top: 0;
    width: 75%;
    max-width: 310px;
    min-width: 290px;
    height: 100%;
    /* overflow: auto; */
    transform: translateX(-100%);
    transition: all 0.5s ease 0.1s;
}
.moMenu.show .moGnb{
    transform: translateX(0%);
}
.logoMo{
    width: 31.47vw;
    max-width: 230px;
    display: flex;
    margin: 0 auto;
    margin-top: 22px; 
    /* 세로단위는 스크롤을 하기때문에 상대단위를 사용하지 않아도 괜찮다 */
    margin-bottom: 42px;
}
.logoMo img{
    width: 100%;
}
.mobileMenuList{
    width: 88%;
    margin: 0 auto;
    height: calc(100% - 130px);
    overflow: auto;
}
.mobileMenuList>li{
    /* padding: 12px; */
    font-size:  1.12rem;
    font-weight: bold;
    position: relative;
}
.mobileMenuList>li>a{
    border: 1px solid #ccc;
    display: block;
    padding: 12px;
}
.mobileMenuList>li::after{
    content: "";    
    position: absolute;
    right: 15px;top: 12px;
    transform: rotate(-45deg);
    width: 14px;
    height: 14px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
}
.mobileMenuList ul{
    /* display: none; */
    margin-top: 14px;
    padding-left: 10px;
}
.mobileMenuList ul>li{
    color: #9a9a9a;
    font-weight: normal;
    /* border: 1px solid salmon; */
    margin-bottom: 8px;
}
.mobileMenuList ul>li:last-of-type{
    margin-bottom: 0;
}


/* main */
main{ position: relative;}
.videoBanner{
    height: 64vh;
    position: relative;
}
.videoBanner::after{
    content: "";
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.2);
}
.videoBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videoBanner .flotingTxt{
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
    width: 74vw;
}
.flotingTxt>h2{
    margin-bottom: 60px;
    width: 100%;
}
.flotingTxt>h2 img{
    width: 100%;
}
.flotingTxt>a{
    /* border: 1px solid red; */
    padding: 3vw 13vw;
    background: rgba(255, 255, 255, 0.35);
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 4px;
}

/* news */
.news{
    /* border: 1px solid red; */
    width: 88%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
}
.news>h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 26px;
}
.news ul{
    display: flex;
}
.news ul>li{
    /* border-right: 1px solid #ebebeb; */
    /* flex: 1; */
}

.news ul>li h4{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 16px;
}
.news .swiper-pagination{
    position: relative;
    margin-top: 50px;
}
.date{
    font-size: 11px;
    color: #9a9a9a;
    margin-bottom: 28px;
}

/* culture */
.culture{
    width: 100%;
    margin-bottom: 160px;
}
.culture>ul{

}
.culture>ul>li{
    height: 230px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}
.culture>ul>li>a{
    display: block; 
    /* list만큼의 너비 */
    height: 100%;    
}
.culture>ul>li>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.on{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.on>h4{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
}
.on>p{
    padding-top: 30px;
    position: relative;
}
.on>p:after{
    content: "";
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
    background: #fff;
}

/* notice  */
.notice{
    width: 90%;
    margin: 0 auto;
}
.notice ul{
    display: flex;
    /* justify-content: space-between;   */
}
.notice ul>li{
    /* width: calc((100% - 60px)/4); */
}
.notice li figure{
    height: 260px;
    overflow: hidden;
}
.notice li figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice li p{
    font-size: 12px;
    color: #666;
    margin: 20px 0;
}
.notice li h4{
    font-size: 15px;
    font-weight: bold;
}
.notice .noBtn.swiper-pagination{
    position: relative;
    margin-top: 50px;
}



footer{    
    margin-top: 200px;
}
.f_top{
    border-top: 1px solid #ebebeb;
    padding-top: 70px;
    margin-bottom: 50px;
}
.f_top>ul{
    /* border: 1px solid green; */
    width: 1120px;
    margin: 0 auto;
    display: flex;
}
.f_top>ul>li{
    /* border: 1px solid red; */
    width: calc(100%/6);
}
.f_top>ul>li>a>b{
    font-size: 1.12rem;
    font-weight: bold;
}
.f_top>ul>li>ul{
    /* border: 1px solid blue; */
    margin-top: 18px;
    color: #9a9a9a;
    font-size: 1rem;
}
.f_top>ul>li>ul>li{
    margin-bottom: 14px;
}
.f_top>ul>li>ul>li:hover{
    color: #000;
}
.f_top>ul>li>ul>li:last-of-type{
    margin-bottom: 0;
}
.f_middle{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 75px;
}
.f_middle>ul{
    width: 1120px;
    margin: 0 auto;
    display: flex;
}
.f_middle>ul>li{
    width: calc(100%/6);
    font-size: 1.12rem;
    font-weight: bold
}
.f_middle>ul>li.blue{
    color: #3774da;
}

.f_under{
    /* border: 1px solid red; */
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.f_under::before{
    content: "";
    width: 138px;   
    /* border: 1px solid red;  */
}
.footLogo{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.copy{
    color: #9a9a9a;
    margin-left: 36px;
}
.snsMenu{
    width: 138px;
    /* border: 1px solid green; */
}
.snsMenu>ul{
    display: flex;
    justify-content: space-between;
}
.snsMenu>ul>li{
    /* border: 1px solid red; */
    width: 38px;
}
.snsMenu>ul>li img{
    width: 100%;
}
.footLogo img{width: 120px;}
}