/* reset */
*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}
ul,ol{list-style: none;}


/* common */
html{font-family: 'Noto Sans KR', sans-serif;}

.blankStyle::after{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    /* border: 1px solid red!important; */
    margin-left: 4px;
    background: url(../pearlabyss/img/icn_header_new_win.svg) no-repeat 50% 50%;
}



/* header */
header{
    /* border: 1px solid lime; */
    position: fixed;
    left:0; top: 0;
    width: 100%;
    height: 70px;

    overflow: hidden;
    transition: all 0.5s ease 0s ;
    z-index: 1000;
    color: white;
}
header:hover{
    color: black;
    height: 350px;
    background: #fff;
}
header::after{
    content: "";
    position: absolute;
    left: 0;top: 70px;
    width: 100%;
    height: 1px;
    background: #eee;
}
.innerheader{
    /* border: 1px solid red; */
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logoArea{width: 180px;}
.logoArea img{width: 100%;}
.gnb{width: 900px;}
.gnb>ul{
    display: flex;
    height: 70px;
}
.gnb>ul>li{
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}
.gnb>ul>li>ul{
    position: absolute;
    left: 0; top: 70px;
    width: 100%;
    padding-top: 20px;
}
.gnb>ul>li>ul>li{
    /* border: 1px solid red;
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: center; */
    margin-bottom: 5px;
    color: #a49996;
}
.gnb>ul>li>ul>li:hover{
    color: #000;
}
.gnb>ul>li>ul>li:last-of-type{margin-bottom: 0;}

.language{width: 180px;}
.language>ul{
    display: flex;
    justify-content: space-between;
}
.language>ul>li{
    font-size: 14px;
    flex: 1;
    text-align: center;
    position: relative;
}
.language>ul>li::after{
    content: "";
    position: absolute;
    right: 0; top: calc(50% - 4px);
    width: 1px; height: 7px;
    background: #fff;
}
.language>ul>li:last-of-type::after{display: none;}

/* main */
main{
     width: 100%;
    height: 2350px;
    margin: 0 auto;
    position: relative;
}
.videoBanner{
    height: 780px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.videoBanner::after{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 100%;height: 100%;
    background: black;
    opacity: 0.3;
}
.videoBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videoBanner .flotingTxt{
    /* border: 1px solid lime; */
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
}
.flotingTxt>h2{
    margin-bottom: 70px;
}
.flotingTxt>a{
    padding: 30px 110px;
    color: #fff;
    background-color: rgba( 255, 255, 255, 0.3 );
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 4px;
    display: inline-block;
    text-align: center; 
    transition: all 0.5s ease 0s ;
}
.flotingTxt>a:hover{
    color: black;
    background-color: rgba( 255, 255, 255, 0.6 );
}

.news{
    /* border: 1px solid lime; */
    width: 1440px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
    position: relative;
}

.news>h3{
    /* border: 1px solid red; */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.news>ul{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
}
.news>ul>li{
    border-right: 1px solid #a49996;
    flex: 1;
    height: 100%;
    padding: 0 30px;
}
.news>ul>li:nth-of-type(1){padding-left: 0;}
.news>ul>li:last-of-type{
    padding-right: 0;
    border-right: none;
}
.news>ul>li>a>h4{
    font-weight: bold;
    margin-bottom: 15px;
    word-break: keep-all;
    display:inline-block;
}
.news>ul>li>a>h4:hover{
    border-bottom: 1px solid #000;
}
.news>ul>li>a>p.date{
    color: gray;
    margin-bottom: 25px;
}
.news>ul>li>a>p.date+p{
    font-size: 13.5px;
    color: gray;
}

.culture{
    /* border: 1px solid lime; */
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 160px;
}

.culture>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.culture>ul>li{
    flex: 1;
}
.culture>ul>li>a{
    width: 100%;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    position: relative;
}
.culture>ul>li>a>img{
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    object-fit: cover;
    filter: grayscale(1)brightness(0.7);
}
.culture>ul>li>a:hover img{
    filter: grayscale(0)brightness(1);
    transform: scale(1.2);
}

.on{
    width: 90%;
    /* border: 1px solid lime; */
    position: absolute;
    left: 50%; top: 75%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}
.on>h4{
    font-size: 24px;
    font-weight: 700;
    transition: all 0.5s ease 0s;
}
.culture>ul>li>a:hover div h4{
    transform: translateY(-20px);
}
.on>p{
    padding-top: 30px;
    /* border: 1px solid red; */
    position: relative;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.culture>ul>li>a:hover div p{opacity: 1;}
.on>p::after{
    content: "";
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
    background: #fff;
}

.notice{
    width: 1440px;
    margin: 0 auto;
}
.notice>ul{
    display: flex;
    width: 100%;
    height: 310px;
}
.notice>ul>li{
    /* border: 1px solid red; */
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.notice>ul>li:nth-of-type(1){padding-left: 0;}
.notice>ul>li:last-of-type{padding-right: 0;}
.notice>ul>li>a{
    width: 100%;
    height: 195px;
    overflow: hidden;
    margin-bottom: 24px;
}
.notice>ul>li>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease 0s;
    filter: grayscale(1)brightness(0.7);
}
.notice>ul>li>a:hover img{
    filter: grayscale(0)brightness(1);
    transform: scale(1.1);
}

.notice>ul>li>p{
    color: gray;
    font-size: 14px;
    margin-bottom: 24px;
}
.notice>ul>li>h4{
    font-weight: 700;
    font-size: 18px;
    word-break: keep-all;
}



/* footer */
footer{
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #eee;
    padding-top: 80px;
}
.innerfooter{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.f_top{
    display: flex;
    margin-left: 130px;
}
.f_top>ul{
    width: 200px;
    margin-bottom: 40px;
}
.f_top>ul>li>a>b{
    font-weight: bold;
}
.f_top>ul>li>ul{
    color: gray;
    font-size: 14px;
    padding-top: 10px;
}
.f_top>ul>li>ul>li{
    padding: 3px 0;
}
.f_top>ul>li>ul>li:hover{
    color: #000;
}
.f_middle{
    margin-left: 130px;
    margin-bottom: 80px;
}
.f_middle>ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
.f_middle>ul>li{
    width: 200px;
    font-weight: bold;
}
.f_middle>ul>li.blue{color: #375fd3;}

.innerF_under{
    border-top: 1px solid #eee;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f_under{
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0; top: 0;
    position: relative;
}
.f_under .u_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.u_logo{
    margin-left: 500px;
}
.u_logo>p{
    color: #a49996;
    font-size: 14px;
}
.u_logo img{
    margin-right: 30px;
}
.f_under>section>ul{
    display: flex;
}
.f_under>section>ul>li{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.f_under>section>ul>li>a.facebook{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(../pearlabyss/img/icn_footer_facebook_round.svg) no-repeat 50% 50%;
    border-radius: 50%;
    object-fit: contain;
}
.f_under>section>ul>li>a.youtube{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(../pearlabyss/img/icn_footer_youtube_round.svg) no-repeat 50% 50%;
    border-radius: 50%;
    object-fit: contain;
}
.f_under>section>ul>li>a.linkedin{
    width: 40px;
    height: 40px;
    display: inline-block;
    background:url(../pearlabyss/img/icn_footer_linkedin_round.svg) no-repeat 50% 50%;
    border-radius: 50%;
    object-fit: contain;
}