*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}
ul,ol{list-style: none;}

html{font-family: 'Noto Sans KR', sans-serif;}


header{
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    left:0; top: 0;
    height: 70px;
    overflow: hidden;
    transition: all 0.5s ease 0s ;
    z-index: 5000;
}
header:hover{
    height: 350px;
    background: #fff;
}
.gnb>ul{
    display: flex;
    height: 100%;
}
.gnb>ul>li{
    border: 1px solid blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}
.gnb>ul>li>ul{
    border: 1px solid coral;
    position: absolute;
    left: 0; top: 70px;
    width: 100%;
}
.gnb>ul>li>ul>li{
    border: 1px solid blue;
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    color: #a49996;
}
.language>ul{display: flex;}
.language>ul>li{
    border: 1px solid yellow;
    padding: 0 20px;
    font-size: 14px;
}


main{
    width: 100%;
    height: 2340px;
    margin: 0 auto;
    padding-bottom: 200px;
}
.videoBanner{
    width: 100%;
    height: 780px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.videoBanner::after{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 100%;height: 100%;
    background: black;
    opacity: 0.3;
}
.videoBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}
.videoBanner>h2{
    position: absolute;
    z-index: 20px;
}
.videoBanner>a{
    position: absolute;
    top: 500px;
    letter-spacing: 2px;
    color: #fff;
    background: #fff;
    background-color: rgba( 255, 255, 255, 0.5 );
    width: 310px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    z-index: 20px;   
}
.news{
    border: 1px solid orange;
    margin-top: 70px;
    margin-bottom: 100px;
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.news>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news>ul>li{
    border: 1px solid blue;
}
.news>ul>li>a>p.date{
    color: gray;
}
.culture{
    border: 1px solid green;
    width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 160px;

}
.culture>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.culture>ul>li>a{
    border: 1px solid salmon;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

}
.culture>ul>li>a>h4{
    padding: 20px 0;
    top: 400px;
    position: absolute;
    color: #fff;
    height: 20px;
    z-index: 10px;
    font-size: 20px;
}
.culture>ul>li>a>h4:hover{
    height: 100px;
    z-index: 10px;
}
.culture>ul>li>a>p{
    position: absolute;
    top: 480px;
    color: #fff;
    z-index: 10px;
    /* display: none; */
}
.notice{
    border: 1px solid yellowgreen;
    width: 1440px;
    margin: 0 auto;
}
.notice>ul>li>a{
    width: calc(100%/4);

}
.notice>ul>li>a>img{

    object-fit: cover;
}
.notice>ul{display: flex;}

footer{
    width: 1440px;
    margin: 0 auto;
    border-top: 1px solid gray;
    padding-top: 80px;
}
.f_top{
    display: flex;
}
.f_middle>ul{
    display: flex;
}
.f_under{
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.f_under .u_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f_under>section>ul{
    display: flex;
}