*{margin: 0; padding: 0;} 

html{font-family: 'Roboto Slab', serif;}

/* layout */
.mainBanner{
    height: 780px;
    /* border: 10px solid red; */
    position: relative;
}
.mainBanner>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainBanner>h2{
    /* border: 2px solid white; */
    position: absolute;

    /* (1) */
    left: calc(50% - 120px); 
    top: calc(50% - 60px);
    
     /* (2) */
    /* left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -60px; */
    /* 위의 두 가지 태그 중앙정렬 방법은 높이,너비를 지정해야한다는 단점이 있다. 추후 지정없이 중앙정렬 하는 방법 배움  */

    font-size: 7rem;
    color: white;
    width: 240px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 10;
}
.mainBanner::after{
    content: "";
    position: absolute;
    left: 0;top: 0;
    width: 100%;height: 100%;
    background: black;
    opacity: 0.3;
    /* display: block; */
}
/* 🔼영상 바로 위에 투명도가 적용된 어두운 명암을 깔기 위해 ::after를 사용하였다.  */