
        .myfont1{font-family: neurimboGothic; font-size: 50px;}

        .myfont2{font-family: "태백은하수"; font-size: 50px;}

        .myfont3{font-family: myfont3;font-size: 50px;}

        .myfont4{font-family: 'NeoDunggeunmoPro-Regular';}

        .myfont5{font-family: 'Gamja Flower', cursive;}

        .myfont6{font-family: 'KimjungchulMyungjo-Bold';}