*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{
    max-width: 100%;
    /* 선택한 태그의 너비의 최대값을 지정 */
}


.station{
    border: 10px solid red;
    width: 100%px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.train{
    width: 400%;
    height: 100%;
    display: flex;
    /* transform: translateX(-500px); */
    transition: all 1s ease 0s;
}
.train>li{
    border: 1px solid blue;
    flex: 1;
    position: relative;
}
.train>li::after{
    content: "";
    width: 100%;height: 100%;
    position: absolute;
    left: 0;top: 0;
    background: linear-gradient(90deg,black,transparent);
}
.train>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: brightness(0.3); */
}
.controler{
    border: 1px solid black;
    padding: 10px 0;
    text-align: center;
}
.slideTxt{
    width: 1200px;
    position: absolute;
    left: 50%;top: calc(50% + 90px);
    transform: translate(-50%, -50%);
    z-index: 10; 
    /* 형제끼린 z-index로 위치 비교가능 */
    color: #fff;
    font-size: 3rem;
    padding-right: 600px;
    box-sizing: border-box;
    transition: all 0.5s ease 1s;
    opacity: 0;
}
.train>li.on .slideTxt{
    top: 50%;
    opacity: 1;
}
.slideTxt>h3{
    font-weight: bold;
}
.slideTxt>p{
    font-size: 0.4em;
    /* 부모 폰트크기의 40% 작게 */
}