*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}
ul,ol{list-style: none;}

html{
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}

.all{width: 920px;margin: 0 auto;}

/*--------------- header----------------- */
.all>header{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.all>header>nav>ul{
    float: right;
}
.all>header>nav>ul::after{
    content: "";
    display: block;
    clear: both;
}
.logo{border: 1px solid red;}
.lnb{
    border: 1px solid red;
    background: #4c4c4c;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.lnb>li{
    padding: 2px 10px;
    border-left: 1px solid white;
    font-size: 10px;
}
.gnb>li:nth-of-type(1){
    border-left: 0;
}
.gnb{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}
.gnb>li{
    padding: 0 25px;
    font-size: 14px;
    font-weight: 700;
}
.gnb>li:nth-of-type(5){
    padding-right: 10px;
}

/*--------------- main ----------------- */
.all>main{border: 1px solid yellowgreen;}
.all .contents{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.all .contents>section{
    border: 1px solid green;
    width: calc((100%-20px)/3);
    margin-right: 10px;
}
.all .contents>section:nth-of-type(3){
    margin-right: 0;
}
.all .contents>section>h2{
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 10px;
}
.all .contents>section>h2>a>img{
    float: right;
}
.all .contents>section>h2>a>img::after{
    content: "";
    display: block;
    clear: both;
}
.all .contents .notice>li>a>span{
    float: right;
}
.all .contents .notice>li>a>span::after{
    content: "";
    display: block;
    clear: both;
}
.all .contents .Qmenu>ul{
    display: flex;
    justify-content: space-around;
}

/*--------------- footer----------------- */
footer {
    border: 1px solid blue;
    background: #f0f0f0;
    width: 1920px;    
}
footer .fall{
    width: 920px;
    display: flex;
    border: 1px solid gold;
    margin: 0 auto;
    padding: 20px 0;
}
footer>.fall .flogo,.corinfo{
    border: 1px solid rebeccapurple;
}
.fall .flogo{margin-right: 30px;}
.corinfo>ul{
    display: flex;
    margin-bottom: 5px;
}
.corinfo>ul>li{
    padding:0 10px;
    border-right: 1px solid #868686;
    color: #868686;
    font-weight: 500;
}
.corinfo>ul>li:nth-of-type(1){
    padding-left: 0;
    color: #298598;
}
.corinfo>ul>li:nth-of-type(4){
    border-right: 0;
}